<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CruTech Survey</title>

    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>

    <!-- Application Styles and Functions -->
    <script src="assets/js/functions.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/button-styles.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico"/>


    <!-- MouseTip -->
    <script src="assets/js/mousetip.js" type="text/javascript"></script>
    <script>
      let mouseTip = new MouseTip();
      mouseTip.start();
    </script>

    <!-- Fancy particles  -->
    <script src="assets/js/particles.js" type="text/javascript"></script>
    <script type="text/javascript">
      particlesJS.load('particle-div', 'assets/js/particlesjs-config.json');
    </script>
  </head>
  <body>
