<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CruTech Survey - Getting Started</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/button-styles.css">
    <link rel="stylesheet" href="/assets/css/surveyform.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico"/>
  </head>
  <body>
    <div class="surveyformdiv">
