<% include partials/header.ejs %>

<div class="dashboardcontainer">
  <h1>Survey Dashboard</h1>
    <button class="btn-primary" onclick="exportTableToCSV('surveydataset.csv')">Export Table to CSV</button>
    <% include partials/dashboard/allsurveydata.ejs %>
</div>
<% include partials/footer.ejs %>
