<% include partials/header.ejs %>
<form class="surveyformclass" action="/faith-and-commitment" method="post">
  <h1>Faith and Commitment</h1>
    <p class="question">Do you attend a Christian group or CRU Group at school?</p>
    <select name="attendschoolgroup" required>
      <% include partials/form-sections/commitmentselect.ejs %>
    </select><br>

    <p class="question">Do you attend Church and/or Youth Group?</p>
    <select name="attendchurchgroup" required>
      <% include partials/form-sections/commitmentselect.ejs %>
    </select><br>

    <p class="question">Which best describes you?</p>
    <select name="bestdescribesyou" required>
      <% include partials/form-sections/describecommitment.ejs %>
    </select><br>

    <p>Please give me more info about:</p>
    <% include partials/form-sections/moreinformation.ejs %>

    <p class="question">Has camp helped you grow in your faith?</p>
    <select name="growninfaith" onchange="showDivyesno('growninfaithhowcomments', this)" required>
      <% include partials/form-sections/yesno.ejs %>
    </select><br>

    <div id="growninfaithhowcomments">
      <p>How has camp helped you grow in your faith?</p>
      <textarea name="growninfaithhow" rows="8" cols="80"></textarea>
    </div>

    <p class="question">Has camp helped you understand more about the Christian faith?</p>
    <select name="helpunderstandfaith" onchange="showDivyesno('helpunderstandfaithcomments', this)" required>
      <% include partials/form-sections/yesno.ejs %>
    </select><br>

    <div id="helpunderstandfaithcomments">
      <p>How has camp helped you understand more about the Christian faith?</p>
      <textarea name="helpunderstandfaithhow" rows="8" cols="80"></textarea>
    </div>

    <p>How did camp help you come to this decision?</p>
    <textarea name="camphelpdecision" rows="8" cols="80"></textarea>

    <div class="parent">
      <button class="btn-warning assign" type="submit" name="">Submit Survey</button>
    </div>
</form>
<% include partials/footer.ejs %>
