<% include partials/header.ejs %>
<div id="particle-div">
  <div class="middlebox">
    <img src="assets/img/crutech-smalllogo.png" alt="CruTech Logo" draggable="false">
    <h1>Welcome to the CruTech Survey</h1>
      <p>Whenever your ready for the adventure, press 'Start Survey'</p>
    <a href="/getting-started"><button class="btn-primary">Start Survey</button></a>
  </div>
</div>
<% include partials/footer.ejs %>
