<% include partials/header.ejs %>
<div id="particle-div">
  <div class="landing">
    <img src="assets/img/crutech-smalllogo.png" alt="CruTech Logo">
    <h1>Welcome to the CruTech Survey!</h1>
    <a href="/start"><button class="btn-primary">Start Survey</button></a>
  </div>
</div>
<% include partials/footer.ejs %>
