<% include partials/header.ejs %>

  <h1>Welcome to the CruTech Survey Server</h1>
  <p>Start the Survey</p>

  <form class="" action="/" method="post">
    <p>To start, what is your name?</p>
      <label for="firstname">First Name:</label>
        <input type="text" name="firstname" value="">
      <label for="lastname">Last Name:</label>
        <input type="text" name="lastname" value="">

      <input type="submit" name="" value="Start Survey">
  </form>

<% include partials/footer.ejs %>
