<% include partials/header.ejs %>
<div id="particle-div">
  <div class="middlebox">
    <script type="text/javascript" src="assets/js/submitredirect.js"></script>
    <img src="assets/img/crutech-smalllogo.png" alt="CruTech Logo" draggable="false">
    <h1>Your Survey has been submitted.</h1>
    <h3>This page will reset the survey session in <span id="timer"><script type="text/javascript">countDown();</script></span> seconds.</h3>
      <p>Thank you for taking your time to fill out this survey.</p>
      <p>This has been created and developed by Ben Robson</p>
  </div>
</div>
<% include partials/footer.ejs %>
