<% include partials/header.ejs %>

<% objdata.forEach(function (data) { %>
  <h3>Welcome <%= data.firstname %> <%= data.lastname %></h3>

  <form class="" action="/survey" method="post">

    <h2>Getting Started</h2>
    <input type="hidden" name="id" value="<%= data.id %>"/>

      <label for="school">What school do you attend?</label>
      <input type="text" name="school" value="">

      <label for="school">What grade are you in at school this year?</label>
      <select class="" name="grade">
        <option selected="selected" disabled>Select</option>
        <option value="Year 7">Year 7</option>
        <option value="Year 8">Year 8</option>
        <option value="Year 9">Year 9</option>
        <option value="Year 10">Year 10</option>
        <option value="Year 11">Year 11</option>
        <option value="Year 12">Year 12</option>
      </select>

      <label for="disogroupleader">Who lead your Discussion Group?</label>
      <input type="text" name="disogroupleader" value="">

      <label for="crupermission">Do you give permission for your comments to be used in CRU Camps promotion and reporting materials?</label>
      <select class="" name="crupermission">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="reunionpermission">Do you give permission for Crütech to contact you about reunions and future camps?</label>
      <select class="" name="reunionpermission">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="camprating">What would you rate camp as a whole?</label>
      <select class="" name="camprating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="campfavoritething">What was your favorite thing about camp?</label>
      <textarea name="campfavoritething" rows="8" cols="80"></textarea>

      <label for="campsuggestions">How could Crütech be better?</label>
      <textarea name="campsuggestions" rows="8" cols="80"></textarea>

      <label for="leadersrating">What would you rate the leading team as a whole?</label>
      <select class="" name="leadersrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="leaderscomments">Do you have any comments about the leaders?</label>
      <textarea name="leaderscomments" rows="8" cols="80"></textarea>

      <label for="activtiesrating">What would you rate the activties on camp?</label>
      <select class="" name="activtiesrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="activtiescomments">Do you have any comments about the activties?</label>
      <textarea name="activtiescomments" rows="8" cols="80"></textarea>

      <label for="nightactivtiesrating">What would you rate the night activties on camp?</label>
      <select class="" name="nightactivtiesrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="nightactivtiescomments">Do you have any comments about the night activties?</label>
      <textarea name="nightactivtiescomments" rows="8" cols="80"></textarea>

      <label for="discussiongroupsrating">What would you rate the Discussion Groups on camp?</label>
      <select class="" name="discussiongroupsrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="discussiongroupscomments">Do you have any comments about the Discussion Groups?</label>
      <textarea name="discussiongroupscomments" rows="8" cols="80"></textarea>

      <label for="downloadtimerating">What would you rate the Christian Discovery [Download] on camp?</label>
      <select class="" name="downloadtimerating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="downloadtimecomments">Do you have any comments about Christian Discovery [Download]?</label>
      <textarea name="downloadtimecomments" rows="8" cols="80"></textarea>

      <label for="downloadtimesingingrating">What would you rate the Singing portion of Christian Discovery [Download] on camp?</label>
      <select class="" name="downloadtimesingingrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="downloadtimesingingcomments">Do you have any comments about the singing portion of Christian Discovery [Download]?</label>
      <textarea name="downloadtimesingingcomments" rows="8" cols="80"></textarea>

      <label for="dormsrating">What would you rate the dorm accomedation on camp?</label>
      <select class="" name="dormsrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="dormsratingcomments">Do you have any comments about the Dorm accomedation?</label>
      <textarea name="dormsratingcomments" rows="8" cols="80"></textarea>

      <label for="foodrating">What would you rate the food and meals on camp?</label>
      <select class="" name="foodrating">
        <option selected="selected" disabled>Select</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="foodratingcomments">Do you have any comments about the food and meals?</label>
      <textarea name="foodratingcomments" rows="8" cols="80"></textarea>

      <label for="summarisecamp">How would you summarise Crütech in one sentence?</label>
      <input type="text" name="summarisecamp" value="">

      <label for="attendschoolgroup">Do you attend a School Christian group or CRU Group?</label>
      <select class="" name="attendschoolgroup">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="attendyouthgroup">Do you attend a Youth Group?</label>
      <select class="" name="attendyouthgroup">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="attendchurch">Do you attend a Church?</label>
      <select class="" name="attendchurch">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="followuppermission">Do you give permission for your details to be passed onto your school chaplain/CRU teacher/Local youth minister?</label>
      <select class="" name="followuppermission">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="firstcrucamp">Is this your first CRU Camp?</label>
      <select class="" name="followupfirstcrucamppermission">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="firstcrutech">Is this your first CruTech?</label>
      <select class="" name="firstcrutech">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="newfriends">Did you make new friends?</label>
      <select class="" name="newfriends">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="feelwelcome">Did you feel welcome and cared for?</label>
      <select class="" name="feelwelcome">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="anothercrucamp">Would you like to go on another CRU camp? (other than Crütech)</label>
      <select class="" name="anothercrucamp">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="anothercrutech">Would you like to go on another Crütech?</label>
      <select class="" name="anothercrutech">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="describefaith">Which would best describe you?</label>
      <select class="" name="describefaith">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="moreinfo">Please give me more info about:</label>
        <input type="checkbox" name="option1" value="Option 1"> Option 1<br>
        <input type="checkbox" name="option1" value="Option 2"> Option 2<br>
        <input type="checkbox" name="option1" value="Option 3"> Option 3

      <label for="reasonsforattending">Why did you come on camp?</label>
      <textarea name="reasonsforattending" rows="8" cols="80"></textarea>

      <label for="reasonsforattendingbrochure">I received a brochure. (If so where from: ___ )</label>
      <input type="text" name="reasonsforattendingbrochure" value="">

      <label for="understandingfaith">Has camp helped you understand more about Christianity or grow in your faith?</label>
      <select class="" name="understandingfaith">
        <option selected="selected" disabled>Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label for="understandingfaithhow">If so, how?</label>
      <textarea name="understandingfaithhow" rows="8" cols="80"></textarea>

      <label for="newcampideas">Do you have any ideas for camp?</label>
      <textarea name="newcampideas" rows="8" cols="80"></textarea>

      <label for="commentsaboutcamp">Do you have any additional comments about camp?</label>
      <textarea name="commentsaboutcamp" rows="8" cols="80"></textarea>

      <label for="notetoleaderordirector">Note to a leader or a director</label>
      <textarea name="notetoleaderordirector" rows="8" cols="80"></textarea>

      

      <input type="submit" name="" value="Complete Survey">
  </form>
<% }) %>

<% include partials/footer.ejs %>
