<option value="Select" selected disabled>Select</option>
<option value="I was a Christian before camp">I was a Christian before camp</option>
<option value="I recommitted my life to Christ on camp">I recommitted my life to Christ on camp</option>
<option value="I decided to become a Christian on camp">I decided to become a Christian on camp</option>
<option value="I want to think about it more">I want to think about it more</option>
<option value="I have other beliefs">I have other beliefs</option>
<option value="I am not interested in Christianity">I am not interested in Christianity</option>
