<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select>
        <option>Select an option</option>
      </select>
      <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
      <label for="optone">
        <input type="checkbox" name="Reading the Bible" id="optone" />Reading the Bible</label>
      <label for="opttwo">
        <input type="checkbox" name="Growing as a Christian" id="opttwo" />Growing as a Christian</label>
      <label for="optthree">
        <input type="checkbox" name="Jesus and Christianity" id="optthree" />Jesus and Christianity</label>
      <label for="optfour">
        <input type="checkbox" name="Christian leadership opportunities" id="optfour" />Christian leadership opportunities</label>
    </div>
  </div>
