<p><input type="checkbox" name="Reading the Bible" value="">Reading the Bible</p>
<p><input type="checkbox" name="Growing as a Christian" value="">Growing as a Christian</p>
<p><input type="checkbox" name="Jesus and Christianity" value="">Jesus and Christianity</p>
<p><input type="checkbox" name="Christian leadership opportunities" value="">Christian leadership opportunities</p>
