<option value="Select" selected disabled>Select</option>
<option value="Year 6">Year 6</option>
<option value="Year 7">Year 7</option>
<option value="Year 8">Year 8</option>
<option value="Year 9">Year 9</option>
<option value="Year 10">Year 10</option>
<option value="Year 11">Year 11</option>
<option value="Year 12">Year 12</option>
<option value="Not in school">Not in school</option>
