<option value="Select" selected disabled>Select</option>
<option value="Been before and loved it">Been before and loved it</option>
<option value="Someone from Cru visited my school">Someone from Cru visited my school</option>
<option value="I went on a Cru school camp">I went on a Cru school camp</option>
<option value="DVD looked good">DVD looked good</option>
<option value="My parents told me about it">My parents told me about it</option>
<option value="A friend invited me">A friend invited me</option>
<option value="I found it in a web search (Google, Bing, duckduckgo)">I found it in a web search (Google, Bing, duckduckgo)</option>
<option value="I received an email">I received an email</option>
<option value="Other">Other</option>
