<option value="Select" selected disabled>Select</option>
<option value="Not enough money">Not enough money</option>
<option value="Often away on holidays">Often away on holidays</option>
<option value="None of my friends can come with me">None of my friends can come with me</option>
<option value="Not enough fun camps or activities">Not enough fun camps or activities</option>
<option value="I just don't want to">I just don't want to</option>
<option value="Other">Other</option>
