html {
  font-family: Tahoma;
  background-color: #18acb6;
}

.landing {
  background-color: white;
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.particle-div {
  overflow: hidden;
}
