.surveyformclass {
  background-color: white;
  padding: 15px;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 2px;
}

input {
  padding: 5px;
}

.parent {
  padding-bottom: 35px;
}

.assign {
  float: right;
}

textarea {
  resize: none;
  font-family: inherit;
  max-height: 800px;
  max-width: 800px;
}
